<!DOCTYPE html>
<head>
  <title>TowBook-Webapp</title>
  <style>
    body {
      box-sizing: border-box;
      margin: 0;
      padding: 20px;
      font-family: sans-serif;
      background-color: #eaeaea;
      text-align: center;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <h1>Discord-Webapp</h1>
  <p id="version"></p>
  <iframe id="iframe" height="1000" width="1000" src="https://discord.com/app" frameBorder="0">Browser not compatible.</iframe>
  <!-- NodeJS part of script -->
  <script>
    const { ipcRenderer } = require('electron');
    const version = document.getElementById('version');
    
    ipcRenderer.send('app_version');
    ipcRenderer.on('app_version', (event, arg) => {
      ipcRenderer.removeAllListeners('app_version');
      version.innerText = 'Version ' + arg.version;
    });
    
  </script>
</body>
</html>
